extends layout

mixin message(message)
    li(class="message")
        p(class="username")=message.username
        p(class="text")=message.message

block content
    .hero
        h1=title
        h2 Let's show our messages
        button 
            a(href="new") Add a message
        ul
            - for (let message of messages) 
                +message(message)
