extends layout

mixin input(name)
    .input-container
        label(for=`${name}`)=name
        input(name=`${name}`)

block content
    .form-container
        h1 Enter your message
        form(method="POST" action="/new")
            +input("username")
            +input("message")
            button(type="submit" class="send") Send
        button 
            a(href="/") Get Back
        

